## Xcode
build/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
.swiftpm/
Package.resolved

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Editors
*.swp
.vscode/
.idea/
